/*====== GOOGLE FONTS ======*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

/*====== VARIABLES CSS ======*/
:root{
    /* Colors | Color Mode HSL */
    --accent: hsl(203, 50%, 70%);
    --white: hsl(0, 0%, 100%);
    --gray-100: hsl(203, 20%, 98%);
    --gray-200: hsl(203, 10%, 90%);
    --gray-300: hsl(203, 20%, 70%);
    --gray-400: hsl(203, 10%, 40%);
    --black: hsl(203, 20%, 20%);
    --gradient: linear-gradient(280deg,#FCFCFC 20%,#FFF 90%);

    /* Typography */
    --body-ff: 'Roboto Mono', monospace;
    --display-ff: 'Nunito', sans-serif;

    /* display: 36px | h1: 28px | h2: 20px | h3: 16px | normal: 14px | small: 12px | x-small: 9px */
    --display: 2.25rem;
    --h1: 1.75rem;
    --h2: 1.25rem;
    --h3: 1rem;
    --normal: .875rem;
    --small: .75rem;
    --x-small: .5rem;
    
    --regular: 400;
    --medium: 500;
    --bold: 700;

    /* Radius */
    --radius-6: .4rem;
    --radius-8: .5rem;

    /* Effects */
    --shadow-effect: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*====== BASE & RESET ======*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
label,
input,
button {
    font-family: var(--body-ff);
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

input,
button{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    color: var(--accent);
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

/*====== COMPONENTES ======*/

.badge{
    display: inline-block;
    padding: .4rem .5rem;
    font-size: var(--small);
    font-weight: var(--regular);
    color: var(--gray-300);
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    border-radius: var(--radius-6);
}

.toast{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    gap: .5rem;
    padding: .4rem .5rem;
    font-size: var(--normal);
    font-weight: var(--medium);
    color: #29DAAF;
    background-color: #F8FFFC;
    border: 1px solid #29DAAF;
    border-radius: 0 0 var(--radius-6) var(--radius-6);
}

.primary__btn{
    font-family: var(--body-ff);
    font-size: var(--normal);
    font-weight: var(--regular);
    padding: .5rem 1rem;
    color: var(--gray-400);
    background: var(--gradient);
    border: 1px solid var(--gray-100);
    border-radius: var(--radius-6);
}

.primary__btn:hover,
.primary__btn:focus{
    font-weight: var(--medium);
    color: var(--gray-200);
    background-color: var(--black);
    border: 1px solid var(--gray-100);
    transition: .4s ease-in;
}

.primary__btn:focus,
.tab__btn:focus,
.action__btn:focus{
    outline: 2px solid var(--gray-100);
    opacity: .8;
}

.tab__btn:focus{
    background-color: var(--white);
}

.tab__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.75rem;
    margin: auto;
    width: 540px;
    height: 240px;
    color: var(--accent);
    background: var(--gradient);
    border: 1px solid var(--gray-200);
    border-radius: var(--radius-6);
    cursor: pointer;
}

.action__btn{
    display: block;
    border-radius: var(--radius-6);
    cursor: pointer;
}

.card,
.modal,
.forms,
.tab__btn{
    box-shadow: var(--shadow-effect);
}

.forms{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--gray-200);
    border-radius: var(--radius-8);
}

.fieldset{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .375rem;
}

.inputfield{
    border: 1px solid var(--gray-200);
    border-radius: var(--radius-6);
}

.display{
    font-family: var(--display-ff);
    font-size: var(--display);
    font-weight: var(--bold);
    color: var(--black);
}

.h1{
    font-family: var(--display-ff);
    font-size: var(--h1);
    font-weight: var(--bold);
    color: var(--black);
}

.h2{
    font-size: var(--h2);
}

.h3{
    font-size: var(--h3);
}

.h2,
.h3{
    font-family: var(--body-ff);
    font-weight: var(--regular);
    color: var(--gray-400);
}

.header,
.main,
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*====== LOGIN ======*/

/*====== HOME ======*/
.header{
    align-items: flex-start;
}

.header .display{
    width: 100%;
    padding: 1rem 4rem;
    font-size: var(--h1);
    color: var(--white);
    background-color: var(--accent);
}

.headline__section{
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--white);
}

.headline__section .h1{
    color: var(--gray-400);
    font-size: var(--h2);
}

.headline__section .h3{
    color: var(--gray-300);
    font-size: var(--normal);
    font-weight: var(--regular);
}

.main{
    min-height: 65vh;
    background-color: var(--gray-100);
}

.tab__btn .tab__icon img{
    width: 28px;
}

.tab__btn .h2{
    color: var(--accent);
    font-size: var(--h3);
}

.footer{
    height: 3.5rem;
    padding: 1rem 4rem;
    font-size: var(--small);
    color: var(--gray-300);
    background-color: var(--gray-100);
}

/*====== PORTAL ======*/

