*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:rgb(219, 219, 219);
}
.login{
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    box-shadow: 10px 10px 5px gray;
}
.login h2{
    margin-bottom: 30px;
    font-size: 40px;
    color: #A9A9A9;
    text-align: center
}
.login .user{
    position: relative;
}
.login .user input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #A9A9A9;
    color: #A9A9A9;
    font-size: 16px;
    margin-bottom: 30px;
}
.login .user label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #D3D3D3;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.login .user input:focus~label,
.login .user input:valid~label
{
    top: -20px;
    left: 0;
    color: #A9A9A9;
    font-size: 12px;
}
.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    color: #fff;
    background: #A9A9A9;
    margin-top: 30px;
    transition: .5s;
    overflow: hidden;
}
.btn:hover{
    color: #000;
    background: #808080;
    cursor: pointer;
    transform: translateY(-2px);
}
.recovery a{
    float: right;
    font-size: 13px;
    color: #D3D3D3;
}